<main>
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="redefinirSenha()" class="form-area">
      <h2 class="text-center">Criar conta</h2>
      <div class="row mt-3 mb-3">
        <div class="col-lg-6 col-xs-12">
          <label for="nomeTxt">Nome</label>
          <input type="text" id="nomeTxt" required formControlName="nomeUsuario" placeholder="Nome">
        </div>
        <div class="col-lg-6 col-xs-12">
          <label for="dataNascimento">Data Nascimento</label>
          <input type="date" id="dataNascimento" required formControlName="dataNascimento" >
        </div>
      </div>
      <div class="row mt-3 mb-3">
        <div class="col-6 col-xs-12">
          <label for="cpf">CPF</label>
          <input type="text" inputmode="numeric" mask="000.000.000-00" placeholder="000.000.000-00" id="cpf" required formControlName="cpf">
        </div>
        <div class="col-6 col-xs-12">
          <label for="telefone">Telefone</label>
          <input type="text" inputmode="numeric" mask="(00) 00000-0000" placeholder="(22) 99956-8813" id="telefone" required formControlName="telefone">
        </div>
      </div>
      <div class="row mb-3 password">
        <div class="col-lg-6 col-xs-12">
          <label for="email">E-mail</label>
          <input type="email" id="email" required formControlName="email" placeholder="E-mail">
        </div>
        <div class="col-lg-6 col-xs-12">
          <label for="senhaTxt">Senha</label>
          <input [type]="visible ? 'text' : 'password'" id="senhaTxt" required formControlName="senha"
            (keyup.enter)="redefinirSenha()" placeholder="Senha">
          <i *ngIf="!visible" class="bi bi-eye eye" (click)="changeVisibility()"></i>
          <i *ngIf="visible" class="bi bi-eye-slash eye" (click)="changeVisibility()"></i>
        </div>
      </div>
      <div class="row" *ngIf="messageError!=''">
        <p class="error">{{messageError}}</p>
      </div>
      <div class="btn-area mt-5">
        <button class="btn-criar-conta col-6" (click)="criarConta()">Criar conta</button>
      </div>
    </form>
</div>
<a class="btn-voltar" routerLink="/login">Voltar</a>
</main>
  