main{
    margin-top: 2rem;
    
    h4{
        font-weight: bold;
        margin-bottom: 2rem;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        cursor: pointer;
        filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(1991%) hue-rotate(178deg) brightness(94%) contrast(105%);
    }
  

}