<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen]="true"
  ><p style="color: white">Carregando...</p></ngx-spinner
>

<main class="container form-display">
    <header class="py-5">
        <h3>Produto</h3>
        <span>{{action == 'CREATE' ? 'Adicionar': action == 'EDIT' ? 'Editar': 'Visualizar'}}  produto</span>
    </header>
    <section class="section-form">
        <form [formGroup]="form">
            <div class="row">
                <div class="form-group col-md-12 col-lg-6">
                    <img *ngIf="previewUrl" [src]="previewUrl" alt="Pré-visualização" width="200" />                    
                </div>
                <div class="form-group col-grow">
                    <input type="file" (change)="onFileSelected($event)" accept="image/*" *ngIf="!isView" />
                    <span class="text-danger" *ngIf="isValidForm('imgProduto')">*Todo produto deve ter uma imagem</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12 col-lg-8">
                    <label for="nome">Nome*</label>
                    <input type="text" formControlName="nome" placeholder="Bacon burguer" maxlength="255">
                    <span class="text-danger" *ngIf="isValidForm('nome')">*Campo de preenchimento obrigatório </span>
                </div>
                <div class="form-group col-md-12 col-lg-4">
                    <label for="valor">Valor*</label>
                    <input  type="text" formControlName="valor" placeholder="R$ 15,00" currencyMask maxlength="15"
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', precision: 2 }"
                    />
                    <span class="text-danger" *ngIf="isValidForm('valor')">*Campo de preenchimento obrigatório </span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12 col-lg-10">
                    <label for="descricao">Descrição*</label>
                    <input type="text" formControlName="descricao" placeholder="carne, bacon, queijo cheddar" maxlength="255">
                    <span class="text-danger" *ngIf="isValidForm('descricao')">*Campo de preenchimento obrigatório </span>
                </div>
                <div class="form-group col-md-12 col-lg-2">
                    <label for="categoria">Categoria</label>
                    <ng-select 
                            placeholder="Lanches"
                            [items]="categoriasOptions" 
                            bindLabel="nome" 
                            bindValue="id" 
                            formControlName="categoria">
                    </ng-select>
                    <span class="text-danger" *ngIf="isValidForm('categoria')">*Campo de preenchimento obrigatório </span>
                </div>
            </div>
            <div class="row buttons">
                <div class="form-group col-md-12 col-lg-2 mb-2">
                    <button (click)="voltar()" class="btn-outline-brown">Voltar</button>
                </div>
                <div class="form-group col-md-12 col-lg-2 text-end">
                    <button (click)="salvar()" class="btn-fill-brown"> {{isCreate ? 'Salvar': 'Editar'}}</button>
                </div>
            </div>
        </form>
    </section>
</main>

