.modal-body{
    color: var(--dark-brown);
    h4{
        font-weight: bold;
    }
    
}
.card-item{
    border-radius: 0.3rem;
    border: none;
    padding: 1rem;
    margin: 1rem 0;
    background-color: var(--cream-color);
    flex-direction: row;
    color: var(--dark-brown);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .header-card{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
        img{
            object-fit: cover;
            width: 5rem;
            height: 5rem;
            border-radius: 1rem;
        }
        .info{
            flex-wrap: wrap;
            flex: 1;
            h5{
                font-weight: bold;
            }
            p{
                opacity: 0.9;
            }
    
            div > label{
                font-weight: 400;
                color: var(--dark-brown);
            }
    
            
            div > textarea{
                color: var(--dark-brown);
                resize: none;
                outline: none;
            }
     
        }
    }
    
}

.btn-area{
    text-align: center;
    display: flex;
    justify-content: space-between;
    
}

.btn-fechar{
    // background-color: var(--dark-brown);
    color: var(--dark-brown);
    border-radius: 0.5rem;
    border: 1px solid var(--dark-brown);
    font-weight: 600;
    
    &:hover{
        opacity: 0.8;
    }
}

.btn-confirm{
    background-color: var(--dark-brown);
    border: 1px solid var(--dark-brown);
    color: var(--cream-color);
    border-radius: 0.5rem;
    font-weight: 600;
    
    &:hover{
        opacity: 0.8;
    }
}