<main>
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="redefinirSenha()" class="form-area">
      <h2 class="text-center">Criar nova senha</h2>
      <div class="row mt-3 mb-3">
        <div class="col-6 col-xs-12">
          <label for="nomeTxt" class="form-label">Nome</label>
          <input class="form-control" type="text" id="nomeTxt" required placeholder="Nome" formControlName="nome">
        </div>
        <div class="col-6 col-xs-12">
          <label for="cpf">CPF</label>
          <input type="text" inputmode="numeric" mask="000.000.000-00" placeholder="000.000.000-00" id="cpf" required formControlName="cpf">
        </div>
      </div>
      <div class="row mb-4 password">
        <div class="col-6 col-xs-12">
          <label for="email">E-mail</label>
          <input type="email" id="email" required formControlName="email" placeholder="E-mail">
        </div>
        <div class="col-6 col-xs-12">
          <label for="novaSenha">Nova Senha</label>
          <input [type]="visible ? 'text' : 'password'" id="novaSenha" placeholder="Nova senha" required formControlName="novaSenha"
            (keyup.enter)="redefinirSenha()" >
          <i *ngIf="!visible" class="bi bi-eye eye" (click)="changeVisibility()"></i>
          <i *ngIf="visible" class="bi bi-eye-slash eye" (click)="changeVisibility()"></i>
        </div>
      </div>
      <div class="row" *ngIf="messageError!=''">
        <p class="error">{{messageError}}</p>
      </div>
      <div class="btn-area mt-4">
        <button class="btn-login col-6">Criar nova senha</button>
        <button class="btn-criar-conta col-6" (click)="criarConta()">Criar conta</button>
      </div>
    </form>
</div>
<a class="btn-voltar" routerLink="/login">Voltar</a>
  
</main>